In [76]:
import pandas as pd
import numpy as np

drug = pd.read_csv('drug200.csv')

In [77]:
drug.info()
drug.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [89]:
a = drug.iloc[:, :-1]

In [90]:
from sklearn.preprocessing import LabelEncoder

a_enc = a.copy()
for col in a.columns:
    lb = LabelEncoder()
    a_enc[col] = lb.fit_transform(a[col].values)
a_enc

     Age  Sex  BP  Cholesterol  Na_to_K
0      8    0   0            0      167
1     30    1   1            0       89
2     30    1   1            0       43
3     12    0   2            0       10
4     44    0   1            0      133
..   ...  ...  ..          ...      ...
195   39    0   1            0       69
196    1    1   1            0       75
197   35    1   2            0       36
198    8    1   2            1      102
199   24    0   1            1       66

[200 rows x 5 columns]

In [91]:
#separate atribute and label
x = a_enc.iloc[:, :]
y = drug.iloc[:, -1]

#divide data into into data train and data test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, random_state=123)
print(x_train)

     Age  Sex  BP  Cholesterol  Na_to_K
172   23    0   2            1      131
88    21    0   0            1      164
166   41    0   1            0      176
170   12    0   2            0       85
128   30    1   1            1      192
..   ...  ...  ..          ...      ...
17    27    1   0            0      101
98     5    1   0            1      195
66    13    1   0            0       83
126   49    1   0            0      122
109    8    1   2            0      127

[180 rows x 5 columns]

In [92]:
from sklearn.tree import DecisionTreeClassifier

#making decission tree model
tree_model = DecisionTreeClassifier()

#train using data train
tree_model = tree_model.fit(x_train, y_train)

In [93]:
#model evaluate
from sklearn.metrics import accuracy_score

y_pred = tree_model.predict(x_test)
acc_score = round(accuracy_score(y_pred, y_test), 3)

print('Accuracy: ', acc_score)

Accuracy:  1.0

In [94]:
print(tree_model.predict([[8, 1, 2, 0, 127]])[0])

drugY

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"